p{
    color: red;
}

/* con el punto se indica que es una clase */
.saludo{
    color:aqua
}

.negritas{
    font-weight: bold;
}

.motores {
    width: 500px;
}

#saludoInicial{
color: blueviolet;

}