<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/styles.css">   
</head>
<body>


    <!--En bloque -------------------------->
    <h1>Titulo</h1>
    <p>Hola</p>

    <!--En linea --------------------------->
    <span class="saludo" id="saludoInicial">Hola</span>
    <img src="assets/img/rotor.jpg"  height="200" alt="">
    <a href="youtube.com">YouTube</a>

    <a href="../index.html">Idex</a> //para redireccion con dos punts se regresa un nivel en las carpetas

    
    <!--Listas ordenadas ------------------->
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
        
    </ol>

    <!--Listas no ordenadas ------------------->
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
        
    </ul>


    <!--Estilos ---------------------->     
    <style>
        body{
            background-color: aqua;

        }
    </style>

    <!--Enlace y JavaScript-->
    <script src="assets/js/main.js">
        alert("Hola mundo")
    </script>
    <script>
        
    </script>





</body>
</html>