
.forma{
    width:730px;
    height:330px;
    background-color:rgb(77, 114, 77);
    padding: 5px;
    margin: auto;
    text-align: left  ;
}

.blanco{
    color: rgb(245, 245, 245);
    margin: 10px; 
    
}

.crema{
    color:rgb(245, 218, 178);
    margin: 10px;
}

.amarillo{
    color:rgb(231, 190, 101);
    margin: 10px;
}

.rojo{
    color:rgb(211, 39, 105);
    margin: 10px;

}
