.padre{
    width: 80%;
    height: 60vh; 
    border: 1px solid red;
    display: flex; 
    flex-direction: column; /* column-reverse*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
/* justify-content: ; */
}

.hijo{
    width: 50px;
    height: 60px; 
    border: 1px solid black;
    margin-bottom: 2rem;
}

.div1{
    background-color: blue;
    align-self:flex-start;
}

.div2{
    background-color: violet;
    margin-right: 4rem; 
}

.div3{
    background-color: tomato;
}