@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,900&family=Ms+Madi&display=swap'); 
/* se puede importar para definir estilos enm esta hoja y luego jalar desde html */

/* *{
    font-family: 'Montserrat alternates', sans-serif;
    font-weight:100;
}
 */

h1{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Ms Madi', cursive;
    font-weight:200; /* para poner grosor de la letra */
}

